<a href="https://colab.research.google.com/github/TashiNyangmi/Understood/blob/master/Understood_org1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import datetime as dt
from statistics import mean

Method 1: Brute Force Using nested loop and going through each and every possible combination of 2 elements within the array once.

In [ ]:
def m1_bf (array, x):
  flag = False
  # a nestedloop
  for i in range(len(a_array)):
    for j in range(len(a_array)):
      if (j+i+1 == len(a_array)):break
      # index numbers 
      # print (i, i+j+1)
      sum_two_no = a_array[i] + a_array[i+j+1] # [i] = 0 where as [i+j+1] = 1 for the first run, while still inside inner (j) loop, [i] remains 0 while [i+j+1] increases by 1 in every iteration 
      if(sum_two_no == x): 
        flag = True
        break
    if flag == True: break
  return (flag)

Method 2: Sort and two pointers

In [ ]:
def m2_srt_2p(array, x):
  
  #sorting the array
  array.sort() 
  
  #utilizing two pointers
  l_pointer = 0 # left/starting pointer
  r_pointer = -1 # right/ending pointer
 
  # Implementing loop
  while (l_pointer < r_pointer):
    sum_two_no = array[l_pointer]+array[r_pointer]
    if (sum_two_no == x): 
      return(True)
    elif (sum_two_no > x): r_pointer = r_pointer - 1
    else: l_pointer = l_pointer + 1
  return (False)

Testing

In [ ]:
a_array = [10,90,2,35,4,5,6,23,44,123,4,6,36,12,3,5,13,23,5,1,235,552,44,12,64,78,34,63,24,67,89,2,11,5,
           10,23,4,6,36,12,3,5,13,23,5,1,235,5590,2,35,4,5,6,23,44,12,4423,4,6,36,12,3,5,13,23,5,1,235,55,12,64,78,34,63,24,67,89,2,11,5,
           10,90,2,35,4,5,623,4,6,36,12,3,5,13,23,5,1,235,55,23,44,12,44,12,64,78,34,63,24,67,89,2,11,5,
           23,42,14,55,112,56,123,435,6,135,6123,4,6,36,12,3,5,13,23,5,1,235,55]

Let us determine which of the two functions are more efficient (time wise i.e. faster)

In [ ]:
m1_test = [] # array to store the runtime
for i in range (100): 
  start_time = dt.datetime.now().microsecond 
  m1_bf(a_array,10000)# Calling 1st method
  end_time = dt.datetime.now().microsecond - start_time
  m1_test.append(end_time)

In [ ]:
m2_test = []  # array to store the runtime
for i in range (100): 
  start_time = dt.datetime.now().microsecond 
  m2_srt_2p(a_array,10000)# Calling 1st method
  end_time = dt.datetime.now().microsecond - start_time
  m2_test.append(end_time)

In [ ]:
len(m1_test), len(m2_test)

(100, 100)

In [ ]:
mean(m1_test), mean(m2_test)

(2060.41, 2.75)

In [ ]:
# Perform a t-test at alpha = 0.01
from scipy import stats
rslt = stats.ttest_ind(m1_test, m2_test)
rslt

Ttest_indResult(statistic=46.10808717158911, pvalue=7.68229617226446e-108)

In [ ]:
print ("the p-value is", rslt[1:3], "which is < 0.01")
print ("and, the t-statistic is positive", rslt[0:1])

the p-value is (7.68229617226446e-108,) which is < 0.01
and, the t-statistic is positive (46.10808717158911,)

That is why I chose the second method